.grainSearchResults, .hopsSearchResults, .yeastSearchResults
    margin: 10px 0
    width: 100%

.x
    position: absolute
    cursor: pointer
    font-size: 38px
    color: #888
    top: 0
    right: 10px

.octicon-plus
    font-size: 36px
    color: darken(lightgreen, 20%)
    margin: 0 5%
    cursor: pointer
