section.login
    form.loginForm(ng-show='showLogin')
        header Log In
        p(ng-click='showRegister = true; showLogin = false') Need an account?
        input(type='email' ng-model='email' placeholder='Email...')
        input(type='password' ng-model='password' placeholder='Password...')
        input(type='submit' ng-click='login(email, password)' value='Log In')
        a(ng-href='#/NewBatch')
            input(type='submit' value='Continue as a guest')
            p If you continue as a guest you will not be able to save recipes or navigate to the My Recipes page.
    form.registerForm(ng-show='showRegister')
        header Register
        p(ng-click='showLogin = true; showRegister = false') Already have an account?
        input(type='text' ng-model='firstName' placeholder='First name...')
        input(type='text' ng-model='lastName' placeholder='Last name...')
        input(type='email' ng-model='email' placeholder='Email...')
        input(type='password' ng-model='password' placeholder='Password...')
        input(type='submit' ng-click='register(firstName, lastName, email, password)' value='Register')
section.flashMessages
    .flash-error(ng-show='showError')
          span Sorry, your login information was incorrect.
          br
          span Please try again or create an account!
    .flash-success(ng-show='showSuccess')
        span Success!!!
script.
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-66574924-1', 'auto');
  ga('send', 'pageview');
