
<section class="login">
  <form ng-show="showLogin" class="loginForm">
    <header>Log In</header>
    <p ng-click="showRegister = true; showLogin = false">Need an account?</p>
    <input type="email" ng-model="email" placeholder="Email..."/>
    <input type="password" ng-model="password" placeholder="Password..."/>
    <input type="submit" ng-click="login(email, password)" value="Log In"/><a ng-href="#/NewBatch">
      <input type="submit" value="Continue as a guest"/>
      <p>If you continue as a guest you will not be able to save recipes, navigate to the My Recipes page.</p></a>
  </form>
  <form ng-show="showRegister" class="registerForm">
    <header>Register</header>
    <p ng-click="showLogin = true; showRegister = false">Already have an account?</p>
    <input type="text" ng-model="firstName" placeholder="First name..."/>
    <input type="text" ng-model="lastName" placeholder="Last name..."/>
    <input type="email" ng-model="email" placeholder="Email..."/>
    <input type="password" ng-model="password" placeholder="Password..."/>
    <input type="submit" ng-click="register(firstName, lastName, email, password)" value="Register"/>
  </form>
</section>
<section class="flashMessages">
  <div ng-show="showError" class="flash-error"><span>Sorry, your login information was incorrect.</span><br/><span>Please try again or create an account!</span></div>
  <div ng-show="showSuccess" class="flash-success"><span>Success!!!</span></div>
</section>