
<div class="loginWrapper">
  <form class="loginForm">
    <input type="email" ng-model="email" placeholder="Email..."/>
    <input type="password" ng-model="password" placeholder="Password..."/>
    <input type="submit" ng-click="login(email, password)" value="Submit"/>
  </form>
  <form class="registerForm">
    <input type="text" ng-model="firstName" placeholder="FIRST NAME..."/>
    <input type="text" ng-model="lastName" placeholder="LAST NAME..."/>
    <input type="email" ng-model="email" placeholder="Email..."/>
    <input type="password" ng-model="password" placeholder="Password..."/>
    <input type="password" ng-model="passwordConfirm" placeholder="Password..."/>
    <input type="submit" ng-click="register(firstName, lastName, email, password, passwordConfirm)" value="Submit"/>{{user}}
  </form>
</div>