doctype html
html
    head
        title Personal Project
        link(href='public/styles/main.css' rel='stylesheet')
    body(ng-app='personalProject')
        a(href='/#/NewBatch') 
            .title(ng-controller='mainCtrl') Grain Billd{{pageTitle}}
        
        ng-view
        
        script(src='bower_components/angular/angular.js')
        script(src='bower_components/angular-route/angular-route.js')
        script(src='public/app/app.js')
        script(src='public/app/controllers/databaseCtrl.js')
        script(src='public/app/controllers/mainCtrl.js')
