doctype html
html
    head
        title Personal Project
        
        script(src='bower_components/modernizr/modernizr.js')
        link(href='bower_components/angular-grid/ng-grid.min.css')
        link(href='bower_components/angular-loading-bar/build/loading-bar.min.css' rel='stylesheet')
        link(href='bower_components/normalize.css/normalize.css' rel='stylesheet')
        link(href='public/assets/octicons/octicons.css' rel='stylesheet')
        link(href='public/styles/main.css' rel='stylesheet')
        
    body(ng-app='personalProject')
        .signIn
            ng-include(src="'public/app/views/login.html'")
            input(type='email' ng-model='user.email' placeholder='Email...')
            input(type='password' ng-model='user.password' placeholder='Password...')
            input(type='submit' value='Submit')
            
        ng-view
        
        script(src='bower_components/jquery/dist/jquery.js')
        script(src='bower_components/angular/angular.js')
        script(src='bower_components/angular-route/angular-route.js')
        script(src='bower_components/angular-loading-bar/build/loading-bar.min.js')
        script(src='bower_components/angucomplete-alt/angucomplete-alt.js')
        script(src='bower_components/angular-animate/angular-animate.js')
        script(src='bower_components/angular-grid/build/ng-grid.js')
        script(src='public/app/app.js')
        script(src='public/app/services/mainService.js')
        script(src='public/app/controllers/databaseCtrl.js')
        script(src='public/app/controllers/mainCtrl.js')
        script(src='bower_components/jquery/dist/jquery.js')
