.savedRecipesContainer
    display: flex
    flex-wrap: wrap
    height: 90%
    width: 90%
    margin-top: 20px
.savedRecipesWrapper
    width: calc(100%/3)
    margin-top: 20px
.recipe
    display: flex
