p.announcement
    text-align: center
    color: $blue
    font-size: 1.4em
section.login, section.flashMessages
    max-width: 470px
    min-width: 450px
section.flashMessages
    margin: 0 auto
section.login
    display: flex
    flex-direction: column
    justify-content: center
    margin: 10% auto 0 auto
    padding: 30px
    width: 40%
    background: $blue
    border-radius: 3px
    input
        margin: 10px 0
    header, p
        color: #f7f7f7
        text-align: center
        user-select: none
    p
        cursor: pointer
        margin-bottom: 20px
    header
        margin: -20px auto auto auto
        font-size: 1.8em
    input[type='submit']
        width: 100%
        background: darken($blue, 20%)
        transition: all 90ms ease-in-out
        &:hover
            background: lighten($blue, 10%)
        &:focus
            border: none
            outline: none
            box-shadow: 0 0 5px #333
.flash-error, .flash-success
    border-radius: 3px
