a(ng-href='/#/NewBatch')    
    .title Grain Billd{{pageTitle}}
.container
    .ingredientModule
        .moduleTitle Ingredients
        <hr>
        .ingredient.grain
            .grainBox
                .boxImage(ng-click='showGrainFunction()' ng-class='clickedGrain')
            form.grain(ng-show='showGrainBox' ng-model='clickedGrain')
                input.grain(type='text' ng-model='grainSearchText' placeholder='Search grains...')
                input.grain(type='text' placeholder='Pounds of Grain')
                .grainSearchResults(ng-repeat='item in grainsInDb | filter:grainSearchText')
                     {{item.name}}
        .ingredient.hops
            .hopsBox
                .boxImage(ng-click='showHopsFunction()')
            form.hops(ng-show='showHopsBox')
                input.hops(type='text' ng-model='hopsSearchText' placeholder='Enter hops...')
                .hopsSearchResults(ng-repeat='item in hopsInDb | filter:hopsSearchText')
                    {{item.name}}
        .ingredient.yeast
            .yeastBox
                .boxImage(ng-click='showYeastFunction()') 
            form.yeast(ng-show='showYeastBox')
                input.yeast(type='text' ng-model='yeastSearchText' placeholder='Enter yeast...')
                .yeastSearchResults(ng-repeat='item in yeastInDb | filter:yeastSearchText')
                    {{item.name}}
        
    
    .batchModule
        .moduleTitle Batch Details
        <hr>
        .ingredient.water
            .waterBox
                .boxImage
            form
                input.water(type='text' placeholder='Desired batch size...')
        header Ingredients
        header Boil
        
