a(ng-href='/#/NewBatch')    
    .title Grain Billd{{pageTitle}}
.container

    .ingredientModule
    
        .moduleTitle Ingredients
        <hr>
        .ingredient
            .grainBoxContainer
                .grainBox
                    .front Grain
                    .back Graaains
            //- input.grain(type='text' ng-model='grainSearchText' ng-change='grainSearch(grainSearchText)' placeholder='Enter grain...')
            //- 
            angucomplete-alt(id="members" placeholder="Search members" pause="400" selected-object="testObj" remote-url="http://localhost:8081/database/ingredients/grain?type=" remote-url-data-field="results" title-field="firstName,surname" description-field="email" image-field="profilePic" input-class="form-control form-control-small")/
            //- .selectedGrains(ng-repeat='grain in selectGrains | filter:grainSearchText')
            //-     {{grain.name}}
        .ingredient
            .hopsBoxContainer
                .hopsBox 
                    .front Hops
                    .back Ooooh hooops
            input.hops(type='text' placeholder='Enter hops...')
        .ingredient
            .yeastBoxContainer
                .yeastBox   
                    .front Yeast
                    .back YUM
            input.yeast(type='text' placeholder='Enter yeast...')
        .ingredient
            .waterBoxContainer
                .waterBox
                    .front Water
                    .back Gulp!
            input.water(type='text' placeholder='Desired batch size...')
    
    .batchModule
        .moduleTitle Batch Details
        <hr>
        header Ingredients
        header Boil
        
