.container

    .ingredientModule
        .moduleTitle Ingredients
        <hr>
        .ingredient
            header Grains
            input(type='text' placeholder='Enter grain...')
        
        .ingredient
            header Hops
            input(type='text' placeholder='Enter hops...')
        .ingredient
            header Yeast
            input(type='text' placeholder='Enter yeast...')
        .ingredient
            header Boil Details
    
    .batchModule
        .moduleTitle Batch Details
        <hr>
        header Ingredients
        header Boil
        
