a(ng-href='/#/NewBatch')    
    .title Grain Billd{{pageTitle}}
.container

    .ingredientModule
    
        .moduleTitle Ingredients
        <hr>
        .ingredient.grain
            .grainBox
                .boxImage 
            form
                input.grain(type='text' ng-model='grainSearchText' placeholder='Search grains...')
                input.grain(type='text' placeholder='Pounds of Grain')
                .grainSearchResults(ng-repeat='item in grains | filter:grainSearchText')
        .ingredient.hops
            .hopsBox 
                .boxImage 
            form
                input.hops(type='text' ng-model='hopsSearchText' placeholder='Enter hops...')
                .hopsSearchResults(ng-repeat='item in grains | filter:grainSearchText')
        .ingredient.yeast
            .yeastBox
                .boxImage 
            form
                input.yeast(type='text' ng-model='yeastSearchText' placeholder='Enter yeast...')
        .ingredient.water
            .waterBox
                .boxImage water
            form
                input.water(type='text' placeholder='Desired batch size...')
    
    .batchModule
        .moduleTitle Batch Details
        <hr>
        header Ingredients
        header Boil
        
