.container
    .ingredientModule
        .moduleTitle Ingredients
        <hr>
        .ingredient
            .grainBoxContainer
                .grainBox
                    .front Grain
                    .back Mmmm graaaiin
            input.grain(type='text' placeholder='Enter grain...')
        
        .ingredient
            .hopsBoxContainer
                .hopsBox 
                    .front Hops
                    .back Ooooh hooops
            input.hops(type='text' placeholder='Enter hops...')
        .ingredient
            .yeastBoxContainer
                .yeastBox   
                    .front Yeast
                    .back YUM
            input.yeast(type='text' placeholder='Enter yeast...')
        .ingredient
            .waterBoxContainer
                .waterBox
                    .front Water
                    .back Gulp!
            input.water(type='text' placeholder='Desired batch size...')
    
    .batchModule
        .moduleTitle Batch Details
        <hr>
        header Ingredients
        header Boil
        
