
<div class="container">
  <div class="ingredientModule">
    <div class="moduleTitle">Ingredients</div><hr>
    <div class="ingredient">
      <header>Grains</header>
      <input type="text" placeholder="Enter grain..."/>
    </div>
    <div class="ingredient">
      <header>Hops</header>
      <input type="text" placeholder="Enter hops..."/>
    </div>
    <div class="ingredient">
      <header>Yeast</header>
      <input type="text" placeholder="Enter yeast..."/>
    </div>
    <div class="ingredient">
      <header>Boil Details</header>
    </div>
  </div>
  <div class="batchModule">
    <div class="moduleTitle">Batch Details</div><hr>
    <header>Ingredients</header>
    <header>Boil</header>
  </div>
</div>