a(ng-href='/#/NewBatch')    
    .title Grain Billd{{pageTitle}}
.container
    .ingredientModule
        .moduleTitle Ingredients
        <hr>
        .ingredient.grain(ng-click='showGrainFunction()')
            .grainBox
                .boxImage
            form.grain(ng-show='showGrainBox')
                input.grain(type='text' ng-model='grainSearchText' placeholder='Search grains...')
                input.grain(type='text' placeholder='Pounds of Grain')
                .grainSearchResults(ng-repeat='item in grainsInDb | filter:grainSearchText')
                     {{item.name}}
        .ingredient.hops(ng-click='showHopsFunction()')
            .hopsBox
                .boxImage 
            form.hops(ng-show='showHopsBox')
                input.hops(type='text' ng-model='hopsSearchText' placeholder='Enter hops...')
                .hopsSearchResults(ng-repeat='item in grains | filter:grainSearchText')
        .ingredient.yeast(ng-click='showYeastFunction()')
            .yeastBox
                .boxImage 
            form.yeast(ng-show='showYeastBox')
                input.yeast(type='text' ng-model='yeastSearchText' placeholder='Enter yeast...')
        .ingredient.water
            .waterBox
                .boxImage
            form
                input.water(type='text' placeholder='Desired batch size...')
    
    .batchModule
        .moduleTitle Batch Details
        <hr>
        header Ingredients
        header Boil
        
