
<div class="moduleTitle">Batch Info</div>
<div class="batchModule">
  <div class="recipeIngredientWrapper">
    <div ng-repeat="grain in grainInRecipe" class="grainInRecipe">
      <div class="recipe grainName">{{grainWeight}}lbs - {{grain.name}}<span ng-click="toggleGrainInfo()" class="octicon octicon-question"></span></div>
      <div ng-show="showGrainInfo" class="grainInfo">{{grain.description}} &nbsp;<span class="item">Type: </span>{{grain.type}} <span class="item">SRM: </span>{{grain.lovibond}}°L</div>
    </div>
    <div ng-repeat="hops in hopsInRecipe" class="hopsInRecipe">
      <div class="recipe hopsName">{{hops.name}}<span ng-click="toggleHopsInfo()" class="octicon octicon-question"></span></div>
      <div ng-show="showHopsInfo" class="hopsInfo">
         
        {{hops.description}} &nbsp;<span class="item">Alpha Acid: </span>{{hops.alphaAcid}}% <span class="item">Beta Acid:</span>{{hops.betaAcid}}%
      </div>
    </div>
    <div ng-repeat="yeast in yeastInRecipe" class="yeastInRecipe">
      <div class="recipe yeastName">{{yeast.name}}<span ng-click="toggleYeastInfo()" class="octicon octicon-question"></span></div>
      <div ng-show="showYeastInfo" class="yeastInfo">{{yeast.description}} &nbsp;<span class="item">Flocculation: </span>{{yeast.flocculation}} <span class="item">Temp: </span>{{yeast.minimumTemperature}}° <span class="item">Max. Temp: </span>{{yeast.maximumTemperature}}° <span class="item">Min. Att.: </span>{{yeast.minimumAttenuation}}% <span class="item">Max. Att.: </span>{{yeast.maximumAttenuation}}%</div>
    </div>
    <div class="recipeInfoBox">
      <div class="recipeInfo">{{recipeAlcohol}} {{recipeSrm}} {{recipeIBU}} </div>
    </div>
  </div>
  <div class="waterBox"></div>
</div>