.container
    .moduleTitle Saved Recipes
    .savedRecipesContainer
        .savedRecipesWrapper(ng-repeat='recipe in recipes')
            .recipeName
                .recipeItemName {{recipe.name}}
            .recipe.recipeGrain Grain: &nbsp;
                .recipeItemName(ng-repeat='grains in recipe.grain') 
                    span(ng-repeat='grain in grains.name'){{grains.amount[$index]}}lbs {{grain.name}} &nbsp;<br>
            .recipe.recipeHops Hops: &nbsp;
                
                .recipeItemName(ng-repeat='hops in recipe.hops')
                    span(ng-repeat='hop in hops.name') {{hops.boilTime[$index]}}mins. &nbsp;{{hops.amount[$index]}}oz. &nbsp; {{hop.name}}<br>
            .recipe.recipeYeast Yeast: &nbsp;
                .recipeItemName(ng-repeat='yeast in recipe.yeast') {{yeast.name}}
            .recipe.recipeSRM SRM: &nbsp;
                .recipeItemName {{recipe.srm}}°L
            .recipe.recipeIBU IBU: &nbsp;
                .recipeItemName {{recipe.ibu}}
            .recipe.recipeOG OG: &nbsp;
                .recipeItemName {{recipe.og}}
            .recipe.recipeFG FG: &nbsp;
                .recipeItemName {{recipe.fg}}
            .recipe.recipeABV ABV: &nbsp;
                .recipeItemName {{recipe.abv}}%
script.
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-66574924-1', 'auto');
  ga('send', 'pageview');
