.moduleTitle Saved Recipes

.savedRecipesContainer
    .savedRecipesWrapper(ng-repeat='recipe in recipes')
        .recipeName {{recipe.name}}
        .recipeGrain(ng-repeat='grains in recipe.grain') {{grains.grain.name}}
        .recipeHops(ng-repeat='hops in recipe.hops') {{hops.hop.name}}
        .recipeYeast(ng-repeat='yeast in recipe.yeast') {{yeast.name}}
        .recipeSRM {{recipe.srm}}
        .recipeIBU {{recipe.ibu}}
        .recipeOG {{recipe.og}}
        .recipeFG {{recipe.fg}}
        .recipeABV {{recipe.abv}}
