.container
    .moduleTitle Saved Recipes
    .savedRecipesContainer
        .savedRecipesWrapper(ng-repeat='recipe in recipes')
            .recipeName
                .recipeItemName {{recipe.name}}
            .recipe.recipeGrain Grain: &nbsp;
                .recipeItemName(ng-repeat='grains in recipe.grain') 
                    span(ng-repeat='grain in grains.name'){{grains.amount[$index]}}lbs {{grain.name}} &nbsp;<br>
            .recipe.recipeHops Hops: &nbsp;
                
                .recipeItemName(ng-repeat='hops in recipe.hops')
                    span(ng-repeat='hop in hops.name') {{hops.boilTime[$index]}}mins. &nbsp;{{hops.amount[$index]}}oz. &nbsp; {{hop.name}}<br>
            .recipe.recipeYeast Yeast: &nbsp;
                .recipeItemName(ng-repeat='yeast in recipe.yeast') {{yeast.name}}
            .recipe.recipeSRM SRM: &nbsp;
                .recipeItemName {{recipe.srm}}°L
            .recipe.recipeIBU IBU: &nbsp;
                .recipeItemName {{recipe.ibu}}
            .recipe.recipeOG OG: &nbsp;
                .recipeItemName {{recipe.og}}
            .recipe.recipeFG FG: &nbsp;
                .recipeItemName {{recipe.fg}}
            .recipe.recipeABV ABV: &nbsp;
                .recipeItemName {{recipe.abv}}%
