.containerContainer
    height: 60vh
    min-height: 60vh
    max-height: 60vh
    margin: 0 2%
    width: 100%
.container
    margin: 20px 0 0 20px
    height: 80%
    width: 100%
    display: flex
    align-items: space-between
header
    font-size: 1.5em

label.grain, label.hops, label.yeast
    color: #444
    cursor: default
input#batchSize, input#efficiency
    margin: 10px -7px
    width: 40px
    text-align: center
    border-radius: 0
    background: #fff
    transition: all ease 70ms

    &:focus
        border-radius: 4px
        background: #3090c7
        color: #fff
        font-weight: 400
.ingredientModule
    width: 30%
    height: 100%
    display: flex
    flex-direction: column
    align-content: space-around
.grainName, .hopsName, .yeastName
    cursor: pointer

.ingredient
    display: flex
    flex-direction: column
    align-items: space-between
    perspective: 1000px
    height: calc(100%/3)
    width: 80%
    max-width: 180px

.grainBox, .hopsBox, .yeastBox, .waterBox
    margin: 0 0 40% 0
    color: #fff
    font-weight: 500
    font-size: 2em
    width: 100%
    text-align: center
    line-height: 125px
    cursor: pointer
    user-select: none

.grainBox
    .boxImage
        background: url(../assets/ingredientLogos/grainSmall.png) top center no-repeat
            size: contain

.hopsBox
    .boxImage
        background: url(../assets/ingredientLogos/hopsSmall.png) top center no-repeat
            size: contain

.yeastBox
    .boxImage
        background: url(../assets/ingredientLogos/yeastSmall2.jpg)top center no-repeat
            size: contain


.waterBox
    .boxImage
        background: url(../assets/ingredientLogos/waterSmall.png) top center no-repeat
            size: contain
.boxImage
    height: 50px
    max-height: 50px
    width: 100%
    transition: all .45s ease
    transform-style: preserve-3d

.grainBoxRotate, .hopsBoxRotate, .yeastBoxRotate
    transform: rotateY(360deg)
