.container
    display: flex
    justify-content: space-around
    margin: 20px

header
    font-size: 1.5em

.moduleTitle
    font-size: 2em
    font-weight: 500
    padding: 0 0 10px 0
    color: #C76730

.ingredientModule
    width: 30%
    margin: 0 1%
    input
        margin: 1% 0
.ingredient
    display: flex
    flex-direction: column
    align-items: space-around
    margin: 5% 0
    perspective: 1000px
    height: 125px
    width: 125px
    input
        height: 20px
        width: 200px
        font-size: 19px
        margin: 10% 0 0 0
.grain, .yeast, .water
    input:first-child
        margin: 80% 0 0 0
.grainBox, .hopsBox, .yeastBox, .waterBox
    margin: 0 3% 0 0
    color: #fff
    font-weight: 500
    font-size: 2em
    height: 100%
    width: 100%
    text-align: center
    line-height: 125px
    cursor: pointer
    user-select: none
    .boxImage
        height: 125px
        width: 125px
        transition: all .45s ease
        transform-style: preserve-3d
.grainBox
    .boxImage
        background: url(../assets/grainSmall.png) top center no-repeat
            size: contain

.hopsBox
    .boxImage
        background: url(../assets/hopsSmall.png) top center no-repeat
            size: contain

.yeastBox
    .boxImage
        background: url(../assets/yeastSmall2.jpg)top center no-repeat
            size: contain

.waterBox
    .boxImage
        background: blue
        border-radius: 50%

.boxImage.open
    transform: rotateY(360deg)
input.grain, input.hops, input.yeast, input.water
    display: none
.hidden
    visibility: hidden
.absolute
    position: absolute
.batchModule
    text-align: left
    width: 60%
