.container
    display: flex
    justify-content: space-around
    margin: 20px 0 0 20px

header
    font-size: 1.5em
.displayNone
    display: none
.moduleTitle
    font-size: 2em
    font-weight: 500
    padding: 0 0 10px 0
    color: #C76730

.ingredientModule
    width: 60%
    margin: 0 1%
.ingredient
    display: flex
    flex-direction: column
    align-items: space-around
    margin: 5% 0
    perspective: 1000px
    height: 125px
    width: 60%
    input
        height: 20px
        width: 200px
        font-size: 19px
        margin: 10% 0 0 95%
// .grain, .yeast, .water
//     input:first-child
//         margin: 80% 0 0 0
.grainBox, .hopsBox, .yeastBox, .waterBox
    margin: 0 3% 0 0
    color: #fff
    font-weight: 500
    font-size: 2em
    height: 100%
    width: 100%
    text-align: center
    line-height: 125px
    cursor: pointer
    user-select: none
    .boxImage
        height: 125px
        width: 100%
        transition: all .45s ease
        transform-style: preserve-3d
.grainBox
    .boxImage
        background: url(../assets/grainSmall.png) top center no-repeat
            size: contain

.hopsBox
    .boxImage
        background: url(../assets/hopsSmall.png) top center no-repeat
            size: contain

.yeastBox
    .boxImage
        background: url(../assets/yeastSmall2.jpg)top center no-repeat
            size: contain


.waterBox
    .boxImage
        background: url(../assets/waterSmall.png) top center no-repeat
            size: contain

.boxImage.clickedGrain
    transform: rotateY(360deg)
form
    width: 100%
.grainSearchResults, .hopsSearchResults, .yeastSearchResults
    margin: 10px 0 0 95%
    width: 100%
    // .grainName, .hopsName, .yeastName
    //     display: flex
    //     justify-content: space-between
    //     flex-wrap: wrap
form.grain, form.hops, form.yeast
    transition: all ease .3s
form.grain.ng-hide, form.hops.ng-hide, form.yeast.ng-hide
    margin-left: -100%
    opacity: .1
.absolute
    position: absolute
.batchModule
    text-align: left
    width: 40%
