
<div class="moduleTitle">Add Ingredients</div>
<div>(click on the images to see the list of ingredients)</div>
<div class="batchInfo">
  <label for="recipeName">Recipe Name:</label>
  <input id="recipeName" type="text" ng-model="recipeName"/>
  <label for="batchSize">Batch Size:</label>
  <input id="batchSize" type="number" ng-model="batchSize"/>
  <label>gal</label>
  <label for="efficiency">Efficiency:</label>
  <input id="efficiency" type="number" ng-model="efficiency"/>
</div>
<div class="ingredientModule">
  <label class="grain">Grain
    <div ng-click="rotateGrain(); showGrainFunction()" class="grainBox">
      <div ng-class="{'grainBoxRotate' : grainBoxToggle.rotate}" class="boxImage"></div>
    </div>
  </label>
  <label class="hops">Hops
    <div ng-click="rotateHops(); showHopsFunction()" class="hopsBox">
      <div ng-class="{'hopsBoxRotate': hopsBoxToggle.rotate}" class="boxImage"></div>
    </div>
  </label>
  <label class="yeast"> Yeast
    <div ng-click="rotateYeast(); showYeastFunction()" class="yeastBox">
      <div ng-class="{'yeastBoxRotate': yeastBoxToggle.rotate}" class="boxImage"> </div>
    </div>
  </label>
</div>
<div class="searchResults"> 
  <div ng-show="showGrainBox" class="formWrapper"><span ng-click="showGrainFunction()" class="x">X</span>
    <form class="grain">
      <label class="grain">Grain <br /></label>
      <input type="text" ng-model="grainSearchText" placeholder="Enter grain..." class="grain"/>
      <input type="number" ng-model="grainWeight" placeholder="Pounds" class="grain"/><span ng-click="addGrainToRecipe(grainSearchText)" class="add">Add!</span>
      <div ng-repeat="item in grainInDb | filter:grainSearchText" class="grainSearchResults">
        <div ng-click="addToGrainSearchText(item)" class="grainName">{{item.name}} <hr /></div>
      </div>
    </form>
  </div>
  <div ng-show="showHopsBox" class="formWrapper"><span ng-click="showHopsFunction()" class="x">X</span>
    <form class="hops">
      <label class="hops">Hops <br /></label><span class="inputLine">
        <input type="text" ng-model="hopsSearchText" placeholder="Enter hops..." class="hops"/>
        <input type="number" ng-model="hopWeight" placeholder="oz." class="hops"/>
        <input type="number" ng-model="boilTime" placeholder="Boil time..." class="hops"/><span ng-click="addHopsToRecipe(hopsSearchText)" class="add">Add!</span></span>
      <div ng-repeat="item in hopsInDb | filter:hopsSearchText" class="hopsSearchResults">
        <div ng-click="addToHopsSearchText(item)" class="hopsName">{{item.name}} <hr /></div>
      </div>
    </form>
  </div>
  <div ng-show="showYeastBox" class="formWrapper"><span ng-click="showYeastFunction()" class="x">X</span>
    <form class="yeast">
      <label class="yeast">Yeast <br /></label>
      <input type="text" ng-model="yeastSearchText" placeholder="Enter yeast..." class="yeast"/><span ng-click="addYeastToRecipe(yeastSearchText)" class="add">Add!</span>
      <div ng-repeat="item in yeastInDb | filter:yeastSearchText" class="yeastSearchResults">
        <div ng-click="addToYeastSearchText(item)" class="yeastName">{{item.name}} <hr /></div>
      </div>
    </form>
  </div>
</div>
<ng-include src="'public/app/recipe/recipeTmpl.html'"></ng-include>