doctype html
html
    head
        title Personal Project
        
        link(href='bower_components/angular-grid/ng-grid.min.css' rel='stylesheet')
        link(href='bower_components/angular-loading-bar/build/loading-bar.css' rel='stylesheet')
        link(href='bower_components/normalize.css/normalize.css' rel='stylesheet')
        link(href='assets/octicons/octicons.css' rel='stylesheet')
        link(href='styles/main.css' rel='stylesheet')
        
    body(ng-app='personalProject')
        .titleBar(ng-controller='indexCtrl')
            a(ng-href='/#/NewBatch')    
                .title Grain Billd
                    span.mega-octicon.octicon-beer
            a(ng-href='/#/NewBatch')
                .link New Batch
                    span.octicon.octicon-arrow-right
            a(ng-href='/#/IngredientInfo')
                .link Ingredient Info
                    span.octicon.octicon-arrow-right
            a(ng-href='/#/MyRecipes')
                .link My Recipes
                    span.octicon.octicon-arrow-right
        .authWrapper(ng-controller='loginCtrl')
            .authData
                {{authData}}
            .loginBtn
                a(ng-show='showLogin' ng-href='/#/login')
                    button Login/Register
                button(ng-show='showLogOut' ng-click='logout()') Log Out
        .container
            ng-view    
                
        script(src='bower_components/angular/angular.js')
        script(src='bower_components/angular-route/angular-route.min.js')
        script(src='bower_components/angular-loading-bar/build/loading-bar.min.js')
        script(src='bower_components/angucomplete-alt/dist/angucomplete-alt.min.js')
        script(src='bower_components/angular-animate/angular-animate.min.js')
        script(src='app/app.js')
        script(src='app/main/mainService.js')
        script(src='app/login/loginService.js')
        script(src='app/myRecipes/myRecipesService.js')
        script(src='app/login/loginCtrl.js')
        script(src='app/database/databaseCtrl.js')
        script(src='app/main/mainCtrl.js')
        script(src='app/IngredientInfo/ingredientInfoCtrl.js')
        script(src='app/index/indexCtrl.js')
        script(src='app/myRecipes/myRecipesCtrl.js')
        
