doctype html
html(lang='en')
    head
        meta(name='description' content="Grain Billd - The one-stop shop for homebrewers. Want to do some research? Calculate a new recipe? Save a recipe for later use? You've come to the right place!")
        title Grain Billd
        link(href='styles/main.css' rel='stylesheet')
    body(ng-app='personalProject')
        .titleBar(ng-controller='indexCtrl')
            a(ng-href='/#/NewBatch')    
                .title Grain Billd
                    span.mega-octicon.octicon-beer
            a(ng-href='/#/NewBatch')
                .link New Batch
                    span.octicon.octicon-arrow-right
            a(ng-href='/#/IngredientInfo')
                .link Ingredient Info
                    span.octicon.octicon-arrow-right
            a(ng-href='/#/MyRecipes')
                .link My Recipes
                    span.octicon.octicon-arrow-right
            a(ng-href='/auth/logout')
                .link Logout
        .container
            ui-view    
                
        script(src='bower_components/angular/angular.min.js')
        script(src='bower_components/angular-ui-router/release/angular-ui-router.min.js')
        script(src='bower_components/angular-loading-bar/build/loading-bar.min.js')
        script(src='bower_components/angucomplete-alt/dist/angucomplete-alt.min.js')
        script(src='bower_components/angular-animate/angular-animate.min.js')
        script(src='production/scripts.min.js')
        //- script(src='app/app.js')
        //- script(src='app/main/mainService.js')
        //- script(src='app/login/loginService.js')
        //- script(src='app/myRecipes/myRecipesService.js')
        //- script(src='app/login/loginCtrl.js')
        //- script(src='app/database/databaseCtrl.js')
        //- script(src='app/main/mainCtrl.js')
        //- script(src='app/ingredientInfo/ingredientInfoCtrl.js')
        //- script(src='app/index/indexCtrl.js')
        //- script(src='app/myRecipes/myRecipesCtrl.js')
        
        
        
