@import "http://fonts.googleapis.com/css?family=Quicksand:300|Lobster|Varela+Round";
html, body {
  height: 100%;
  margin: 0;
  padding: 0; }

body {
  -webkit-font-smoothing: antialiased;
  font-family: "Helvetica Nue", Helvetica, Arial, sans-serif;
  font-weight: 200;
  color: #444; }

a {
  text-decoration: none;
  color: inherit; }

.title {
  font-size: 3.5em;
  font-family: Lobster;
  padding: 0 50px;
  color: #3090C7; }

.databaseContainer {
  margin: 0 30px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
          justify-content: space-around;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap; }

h3 {
  width: 25%;
  padding: 1%; }

h1 {
  font-weight: 200;
  margin: 20px;
  width: 300px;
  cursor: pointer; }

input {
  font-size: 1.03em;
  margin: 20px; }

.itemName {
  font-family: Helvetica;
  font-weight: 600; }

.item, .itemDescription {
  font-family: Helvetica;
  font-weight: 400; }

.itemDescription {
  cursor: pointer; }

.containerContainer {
  height: 60vh;
  min-height: 60vh;
  max-height: 60vh;
  width: 100vh;
  max-width: 100vh; }

.container {
  margin: 20px 0 0 20px;
  height: 100%;
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: space-between;
  -webkit-align-items: space-between;
      -ms-flex-align: space-between;
          align-items: space-between; }

header {
  font-size: 1.5em; }

.moduleTitle {
  text-align: center;
  font-size: 2em;
  font-weight: 500;
  padding: 0 0 10px 0;
  color: #C76730; }

.ingredientModule {
  width: 30%;
  height: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-align-content: space-around;
      -ms-flex-line-pack: distribute;
          align-content: space-around; }

.searchResults {
  width: 70%; }
  .searchResults form {
    position: absolute;
    width: 100%;
    font-size: 19px;
    margin: 10% 0 0 0;
    height: 99%;
    max-height: 40%;
    max-width: 66vw;
    overflow: scroll;
    padding: 1%;
    box-shadow: 0 0 3px #666, 0 0 3px #999;
    -webkit-transition: all ease 0.5s;
            transition: all ease 0.5s; }
    .searchResults form input {
      margin: 10px 0; }
  .searchResults form.ng-hide {
    margin-left: -100%;
    opacity: 0; }

.ingredient {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: space-between;
  -webkit-align-items: space-between;
      -ms-flex-align: space-between;
          align-items: space-between;
  -webkit-perspective: 1000px;
          perspective: 1000px;
  height: calc(100%/3);
  width: 80%;
  max-width: 180px; }

.grainBox, .hopsBox, .yeastBox, .waterBox {
  margin: 0 0 40% 0;
  color: #fff;
  font-weight: 500;
  font-size: 2em;
  width: 100%;
  text-align: center;
  line-height: 125px;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none; }

.grainBox .boxImage {
  background: url(../assets/grainSmall.png) top center no-repeat;
    background-size: contain; }

.hopsBox .boxImage {
  background: url(../assets/hopsSmall.png) top center no-repeat;
    background-size: contain; }

.yeastBox .boxImage {
  background: url(../assets/yeastSmall2.jpg) top center no-repeat;
    background-size: contain; }

.waterBox .boxImage {
  background: url(../assets/waterSmall.png) top center no-repeat;
    background-size: contain; }

.boxImage {
  height: 125px;
  width: 100%;
  -webkit-transition: all 0.45s ease;
          transition: all 0.45s ease;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d; }

.boxImage.ng-hide {
  -webkit-transform: rotateY(360deg);
          transform: rotateY(360deg);
  opacity: 0; }

.grainSearchResults, .hopsSearchResults, .yeastSearchResults {
  margin: 10px 0;
  width: 100%; }
