@import "http://fonts.googleapis.com/css?family=Quicksand:300|Lobster|Varela+Round";
html, body {
  height: 100%;
  margin: 0;
  padding: 0; }

body {
  -webkit-font-smoothing: antialiased;
  font-family: "Helvetica Nue", Helvetica, Arial, sans-serif;
  font-weight: 200;
  color: #444; }

a {
  text-decoration: none;
  color: inherit; }

.title {
  font-size: 3.5em;
  font-family: Lobster;
  padding: 0 50px;
  color: #3090C7; }

.databaseContainer {
  margin: 0 30px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
          justify-content: space-around;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap; }

h3 {
  width: 25%;
  padding: 1%; }

h1 {
  font-weight: 200;
  margin: 20px;
  width: 300px;
  cursor: pointer; }

input {
  font-size: 1.03em;
  margin: 20px; }

.itemName {
  font-family: Helvetica;
  font-weight: 600; }

.item, .itemDescription {
  font-family: Helvetica;
  font-weight: 400; }

.itemDescription {
  cursor: pointer; }

.container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
          justify-content: space-around;
  margin: 20px; }

header {
  font-size: 1.5em; }

.moduleTitle {
  font-size: 2em;
  font-weight: 500;
  padding: 0 0 10px 0;
  color: #C76730; }

.ingredientModule {
  width: 30%;
  margin: 0 1%; }
  .ingredientModule input {
    margin: 1% 0; }

.ingredient {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: space-around;
  -webkit-align-items: space-around;
      -ms-flex-align: space-around;
          align-items: space-around;
  margin: 5% 0;
  -webkit-perspective: 1000px;
          perspective: 1000px;
  height: 125px;
  width: 125px; }
  .ingredient input {
    height: 20px;
    width: 200px;
    font-size: 19px;
    margin: 10% 0 0 0; }

.grain input:first-child, .yeast input:first-child, .water input:first-child {
  margin: 80% 0 0 0; }

.grainBox, .hopsBox, .yeastBox, .waterBox {
  margin: 0 3% 0 0;
  color: #fff;
  font-weight: 500;
  font-size: 2em;
  height: 100%;
  width: 100%;
  text-align: center;
  line-height: 125px;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none; }
  .grainBox .boxImage, .hopsBox .boxImage, .yeastBox .boxImage, .waterBox .boxImage {
    height: 125px;
    width: 125px;
    -webkit-transition: all 0.45s ease;
            transition: all 0.45s ease;
    -webkit-transform-style: preserve-3d;
            transform-style: preserve-3d; }

.grainBox .boxImage {
  background: url(../assets/grainSmall.png) top center no-repeat;
    background-size: contain; }

.hopsBox .boxImage {
  background: url(../assets/hopsSmall.png) top center no-repeat;
    background-size: contain; }

.yeastBox .boxImage {
  background: url(../assets/yeastSmall2.jpg) top center no-repeat;
    background-size: contain; }

.waterBox .boxImage {
  background: blue;
  border-radius: 50%; }

.boxImage.open {
  -webkit-transform: rotateY(360deg);
          transform: rotateY(360deg); }

input.grain, input.hops, input.yeast, input.water {
  display: none; }

.hidden {
  visibility: hidden; }

.absolute {
  position: absolute; }

.batchModule {
  text-align: left;
  width: 60%; }
