.preBatchModule
    .moduleTitle.batch Batch Info
    .recipeInfoBox
        span.item(ng-show='recipeSrm') 
         {{recipeSrm}} SRM 
        span.item(ng-show='IBU') {{IBU}} IBU
        span.item(ng-show='OG') {{OG}} OG
        span.item(ng-show='FG') {{FG}} FG
        span.item(ng-show='ABV') {{ABV}} ABV
        .add(ng-show='recipeSrm' ng-click='saveRecipe($scope.recipeName, $scope.recipeSrm, $scope.IBU, $scope.OG, $scope.FG, $scope.ABV)') Save!
                
.batchModule
    .recipeIngredientWrapper
        .grainInRecipe
            span.recipeLabel(ng-show='grainInRecipe') Grain
            div(ng-repeat='grain in grainInRecipe' ng-model='grainInRecipe' ng-change='recipe.$save()')
                .recipe.grainName {{grain.amount}}lbs - {{grain.grain.name}}
                    span(class='octicon octicon-question' ng-click='toggleGrainInfo()')
                .grainInfo(ng-show='showGrainInfo')
                    {{grain.grain.description}} <br />
                    span.item Type: 
                    {{grain.grain.type}} 
                    span.item SRM: 
                    {{grain.grain.lovibond}}°L
        .hopsInRecipe
            span.recipeLabel(ng-show='hopsInRecipe') Hops
            div(ng-repeat='hops in hopsInRecipe')
                .recipe.hopsName {{hops.amount}}oz - {{hops.hop.name}} - {{hops.boil}}mins
                    span(class='octicon octicon-question' ng-click='toggleHopsInfo()')
                .hopsInfo(ng-show='showHopsInfo') 
                    {{hops.hop.description}} <br />
                    span.item Alpha Acid: 
                    {{hops.hop.alphaAcid}}% 
                    span.item Beta Acid:
                    {{hops.hop.betaAcid}}%
        .yeastInRecipe
            span.recipeLabel(ng-show='yeastInRecipe') Yeast
            div(ng-repeat='yeast in yeastInRecipe')
                .recipe.yeastName {{yeast.name}}
                    span(class='octicon octicon-question' ng-click='toggleYeastInfo()')
                .yeastInfo(ng-show='showYeastInfo')
                    {{yeast.description}} <br />
                    span.item Flocculation: 
                    {{yeast.flocculation}} 
                    span.item Temp: 
                    {{yeast.minimumTemperature}}° 
                    span.item Max. Temp: 
                    {{yeast.maximumTemperature}}° 
                    span.item Min. Att.: 
                    {{yeast.minimumAttenuation}}% 
                    span.item Max. Att.: 
                    {{yeast.maximumAttenuation}}%
