.batchModule
    height: 100%
    width: 100%
.recipeIngredientWrapper
    display: flex
    justify-content: space-around
    text-align: center
.grainInRecipe, .hopsInRecipe, .yeastInRecipe, .recipeInfoBox
    height: 100%
.recipeInfoBox
    display: flex
    flex-direction: column
    align-items: center
    .add
        white-space: nowrap
        padding: 5%
    span
        margin: 2% 0
        text-decoration: underline
.moduleTitle
    font-size: 2em
    font-weight: 500
    padding: 0 0 10px 0
    color: #3090C7
    hr
        background: #3090c7
        border: none
        height: 2px

span.recipeLabel
    font-size: 1.3em
    text-decoration: underline
.recipe
    color: #222
    font-weight: 500
    .octicon
        color: lightgreen
        margin-left: 3px
.grainInfo, .hopsInfo, .yeastInfo
    transition: all .3s ease
    perspective: 1000px
    transform-style: preserve-3d
.grainInfo.ng-hide, .hopsInfo.ng-hide, .yeastInfo.ng-hide
    transform: rotateX(90deg)
    opacity: 0
