.batchModule
    display: flex
    justify-content: space-between
    height: 100%
    width: 100%
.moduleTitle
    font-size: 2em
    font-weight: 500
    padding: 0 0 10px 0
    color: #3090C7
    hr
        background: #3090c7
        border: none
        height: 2px

.grainInRecipe
    height: 100%
.recipeIngredientWrapper
    display: flex
    flex-direction: column
    width: 80%
.recipe
    color: #222
    font-weight: 500
    .octicon
        color: lightgreen
        margin-left: 3px
.grainInfo, .hopsInfo, .yeastInfo
    transition: all .3s ease
    perspective: 1000px
    transform-style: preserve-3d
.grainInfo.ng-hide, .hopsInfo.ng-hide, .yeastInfo.ng-hide
    transform: rotateX(90deg)
    opacity: 0
.waterBox
    width: 20%
    height: 100%
    display: flex
    input
        color: #333
        padding: 0
        margin: 0
        max-width: 100%
