html, body
    height: 100%
    margin: 0
    padding: 0
body
    -webkit-font-smoothing: antialiased
    font-family: Quicksand, sans-serif
    color: #444
a
    text-decoration: none
    color: inherit
.title
    font-size: 3.5em
    font-family: Lobster
    padding: 0 50px
    color: #3090C7
