html, body
    height: 100%
    margin: 0
    padding: 0
body
    -webkit-font-smoothing: antialiased
    font-family: 'Helvetica Nue', Helvetica, Arial, sans-serif
    font-weight: 200
    color: #444
a
    text-decoration: none
    color: inherit
hr
    border: none
    height: 1px
    background: #999
::-webkit-scrollbar
    display: none
.title
    font-size: 3.5em
    font-family: Lobster
    padding: 5px 50px
    color: #fff
    background: #3090C7
input
    border: none
    border-bottom: 1px solid #999
    &:focus
        outline: none
.loginWrapper
    width: 100%
    display: flex
    user-select: none
    justify-content: flex-end
    align-items: center
    .signIn, .signUp
        display: flex
        justify-content: flex-end
        align-items: center
        width: 100%
        margin: 0 3%
        input
            margin: 5px
    span
        cursor: pointer
        border-bottom: 2px solid #888
