a(ng-href='/#/NewBatch')    
    .title Grain Billd{{pageTitle}}
.containerContainer
    .ingredientInfoLink
        a(ng-href='/#/IngredientInfo')
            .moduleTitle Ingredient Information
    .batchInfo
        label(for='batchSize') Batch Size:
        input#batchSize(type='number' ng-model='batchSize')
        label gal
        label(for='efficiency') Efficiency
        input#efficiency(type='number' ng-model='efficiency')
    .container
        .ingredientModule
            //.moduleTitle Add Ingredients
            label.grain Grain
                .grainBox(ng-click= 'rotateGrain(); showGrainFunction()')
                    .boxImage(ng-class="{'grainBoxRotate' : grainBoxToggle.rotate}")
                            
            label.hops Hops
                .hopsBox(ng-click='rotateHops(); showHopsFunction()')
                    .boxImage(ng-class="{'hopsBoxRotate': hopsBoxToggle.rotate}")
                
            label.yeast  Yeast
                .yeastBox(ng-click='rotateYeast(); showYeastFunction()')
                    .boxImage(ng-class="{'yeastBoxRotate': yeastBoxToggle.rotate}") 
                
        .searchResults  
            form.grain(ng-show='showGrainBox')
                label.grain Grain <br />
                input.grain(type='text' ng-model='grainSearchText' placeholder='Search grains...')
                input.grain(type='number' ng-model='grainWeight' placeholder='Pounds')
                span.add(ng-click='addGrainToRecipe(grainSearchText)') Add!
                span(class="x" ng-click='showGrainFunction()') X
                .grainSearchResults(ng-repeat='item in grainInDb | filter:grainSearchText')
                    .grainName(ng-click='addToGrainSearchText(item)') {{item.name}} <hr />
                
            form.hops(ng-show='showHopsBox')
                label.hops Hops <br />
                span.inputLine
                    input.hops(type='text' ng-model='hopsSearchText' placeholder='Enter hops...')
                    input.hops(type='number' ng-model='hopWeight' placeholder='oz.')
                    input.hops(type='number' ng-model='boilTime' placeholder='Boil time...')
                    span.add(ng-click='addHopsToRecipe(hopsSearchText)') Add!
                span(class="x" ng-click='showHopsFunction()') X
                .hopsSearchResults(ng-repeat='item in hopsInDb | filter:hopsSearchText')
                    .hopsName(ng-click='addToHopsSearchText(item)') {{item.name}} <hr />
            
            form.yeast(ng-show='showYeastBox')
                label.yeast Yeast <br />
                input.yeast(type='text' ng-model='yeastSearchText' placeholder='Enter yeast...')
                span.add(ng-click='addYeastToRecipe(yeastSearchText)') Add!
                span(class="x" ng-click='showYeastFunction()') X
                .yeastSearchResults(ng-repeat='item in yeastInDb | filter:yeastSearchText')
                    .yeastName(ng-click='addToYeastSearchText(item)') {{item.name}} <hr />
            
    ng-include(src="'public/app/recipe/recipeTmpl.html'")
    
